@model IEnumerable<DataAccessLayer.Tarea>

@{
    ViewBag.Title = "Tareas en carpeta";
}

<h2>Carpeta: @ViewBag.NombreCarpeta</h2>
<p>
    <a class="btn btn-success" href="/Carpetas/Crear">Nueva carpeta</a>
</p>

<table class="table">
    <tr>
        <th>Fecha Fin</th>
        <th>Nombre</th>
        <th>Prioridad</th>
        <th>Estimado</th>
        <th>Completada</th>
        <th>¿Completar?</th>
        <th>Detalle</th>
    </tr>

@foreach (var item in Model)
{
    bool isComplete = item.Completada == 1;
    <tr>
        <td>@if (item.FechaFin !=null){@item.FechaFin.Value.ToShortDateString()}</td>
        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
        <td>
            @switch (item.Prioridad)
            {
                case 1:
                    <span>Urgente</span>
                    break;
                case 2:
                    <span>Alta</span>
                    break;
                case 3:
                    <span>Media</span>
                    break;
                case 4:
                    <span>Baja</span>
                    break;
                default:
                    <span>Sin prioridad</span>
                    break;

            }
        </td>
        <td>
            @if (item.EstimadoHoras != null)
            {
                @Html.DisplayFor(modelItem => item.EstimadoHoras)
            }else
            {
                <span>Indefinido</span>
            }
        </td>
         <td>
            @if (item.Completada == 0)
            {
                <span>Incompleta</span>
            }
            else
            {
                <span>Completa</span>
            }
        </td>
        <td>
            @if(item.Completada == 0)
            {
            <input type="checkbox" id="chkCompletar" disabled="@isComplete" checked="@isComplete" onchange="completarTarea(this, @item.IdTarea)" />
            }
        </td>
        <td><a href="/Tareas/Detalle/@item.IdTarea"><span class="glyphicon glyphicon-eye-open"></span></a></td>
    </tr>
}
</table>

<script>
    function completarTarea(element, idTarea) {
        $.ajax({
            dataType: 'html',
            type: 'POST',
            url: "/Tarea/CompletarTarea?idTarea=" + idTarea,
            async: true,
            success: function () {
                $(element).prop("disabled", true);
                $("#tdComplete_" + idTarea).text("Sí");
            }
        });
    }
</script>