@model IEnumerable<WebBoxToDo.Models.Tarea>

@{
    ViewBag.Title = "Tareas";
}

<h2>Tareas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimadoHoras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCarpeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimadoHoras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTarea }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTarea }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTarea })
        </td>
    </tr>
}

</table>
