<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BoxToDo</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="body-content">
    <nav class="navbar navbar-color navbar-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("BoxToDo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Home/Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>                
            </ul>
        </div>
    </nav>
    
    <div class="container-fluid altura-menu">
        <div class="row altura-menu">
            <div class="col-md-2 background-menu altura-menu">
                @Html.Action("MenuCarpetas", "Carpetas")
            </div>
            <div class="col-md-10 background-contenido altura-menu">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
