<<<<<<< HEAD
<<<<<<< HEAD
﻿@model DataAccessLayer.Usuario

=======
<<<<<<< HEAD
=======
>>>>>>> b79a19c9ab1fbc95141f881475d1bc4115070cbb
<<<<<<< HEAD
<<<<<<< HEAD
﻿@model DataAccessLayer.Usuario

=======
﻿@model IEnumerable<DataAccessLayer.Tarea>
>>>>>>> origin/master
=======
﻿@model IEnumerable<DataAccessLayer.Tarea>
>>>>>>> parent of fef500e... Actualizaciones
=======
﻿@model DataAccessLayer.Usuario

>>>>>>> parent of 8e9b3d7... Merge remote-tracking branch 'origin/master'
<<<<<<< HEAD
>>>>>>> b79a19c9ab1fbc95141f881475d1bc4115070cbb
=======
>>>>>>> b79a19c9ab1fbc95141f881475d1bc4115070cbb
@{
    ViewBag.Title = "Home";
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@Html.Action("MenuTareas", "Tareas")
=======
=======
>>>>>>> parent of fef500e... Actualizaciones
<h2>Tareas incompletas</h2>

<p>
    @Html.ActionLink("Agregar Tarea", "Crear")
</p>

<<<<<<< HEAD
@Html.Action("TareasIncompletas", "Tareas")
=======
            }
        </td>
        <td>
            @if (item.EstimadoHoras != null)
            {
                @Html.DisplayFor(modelItem => item.EstimadoHoras)
            }
            else
            {
                <span>Indefinido</span>
            }
        </td>
        <td><a href="Tareas/Detalle/@item.IdTarea">Ver</a></td>
        <td>
            @if (item.Completada == 0)
            {
                @Html.CheckBox("Completar", false)
            }
        </td>
    </tr>
}
</table>
<<<<<<< HEAD
>>>>>>> origin/master
=======
>>>>>>> parent of fef500e... Actualizaciones
=======
@Html.Action("MenuTareas", "Tareas")
>>>>>>> parent of 8e9b3d7... Merge remote-tracking branch 'origin/master'
<<<<<<< HEAD
>>>>>>> b79a19c9ab1fbc95141f881475d1bc4115070cbb
=======
>>>>>>> b79a19c9ab1fbc95141f881475d1bc4115070cbb
