@model DataAccessLayer.Tarea


@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Tarea</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2" for="labelNombre">Nombre</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="labelDescripcion">Descripción</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="labelEstimadoHoras">Estimado en horas</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.EstimadoHoras, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EstimadoHoras, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="labelFechaFin">Fecha de finalización</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FechaFin, "", new { @type = "datetime-local", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="labelPrioridad">Prioridad</label>
        <div class="col-md-10">
            <select  name="Prioridad" id="Prioridad" class="form-control">
                <option value="4">Baja</option>
                <option value="3">Media</option>
                <option value="2">Alta</option>
                <option value="1">Urgente</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="labelCarpeta">Carpeta</label>
        <div class="col-md-10">
            @Html.Action("ListarCarpetasOrdenadas", "Carpetas")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
</div>
        }

        <div>
            @Html.ActionLink("Lsta de Tareas", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
