@model DataAccessLayer.Tarea

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTarea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCarpeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCarpeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimadoHoras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimadoHoras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
