@model DataAccessLayer.Tarea

@{
    ViewBag.Title = "Detalle";
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of 8e9b3d7... Merge remote-tracking branch 'origin/master'
<br />
<div class="panel panel-default">
    <div class="panel-heading"><h2>@Model.Nombre</h2></div>
    <div class="panel-body">
    @if (Model.Descripcion == null)
    {
        <span>No posee descripción.</span>
    }
    else {
        @Model.Descripcion
    }
    </div>
    <ul class="list-group">
        <li class="list-group-item"><b>Fecha de Creación:</b> @Model.FechaCreacion.ToShortDateString()</li>
        <li class="list-group-item">
            <b>Fecha de Finalización: </b>
            @if (Model.FechaFin != null)
            {
                @Model.FechaFin.Value.ToShortDateString()
            }
            else
            { <span>---</span>}
        </li>
        <li class="list-group-item">
            <b>Estimado en horas: </b>
            @if (Model.EstimadoHoras != null)
            {
                    @Model.EstimadoHoras
            }
            else
            { <span>---</span> }


        </li>
        <li class="list-group-item"><b>Carpeta: </b>@ViewBag.NombreCarpeta</li>
        <li class="list-group-item"><b>Prioridad:</b>
    @switch (Model.Prioridad)
    {
        case 1:
            <span>Urgente</span>
            break;
        case 2:
            <span>Alta</span>
            break;
        case 3:
            <span>Media</span>
            break;
        case 4:
            <span>Baja</span>
            break;
        default:
            <span>Sin prioridad</span>
            break;

    }
</li>
        <li class="list-group-item"><b>
    ¿Completada?:</b>
    @if (Model.IdCarpeta == 1)
    {
        <span>Sí</span>
    }
    else
    {
        <span>No</span>
    }
</li>
    </ul>
</div>
=======
>>>>>>> parent of fef500e... Actualizaciones

<h2>Detalle</h2>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTarea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCarpeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCarpeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimadoHoras)
        </dt>

<<<<<<< HEAD
@Html.Action("ListarComentarios", "Tareas")
<<<<<<< HEAD
=======

<h2>Detalle</h2>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTarea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCarpeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCarpeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimadoHoras)
        </dt>

=======
>>>>>>> parent of fef500e... Actualizaciones
        <dd>
            @Html.DisplayFor(model => model.EstimadoHoras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<<<<<<< HEAD
>>>>>>> origin/master
=======
>>>>>>> parent of fef500e... Actualizaciones
=======
>>>>>>> parent of 8e9b3d7... Merge remote-tracking branch 'origin/master'
